* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex; rgb(228, 238, 192);
    height: 2000px;
    margin: 0 auto;
  box-sizing: border-box;
  background-color: #ffd9da;
  }
  
.image {
    background: rgb(228, 238, 192);
}


  .box {
    border: 1px solid rgb(211, 214, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgb(179, 117, 238);
  }
  
  .text {
    display: flex;
    border: 1px solid rgb(241, 230, 68);
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color:rgb(210, 198, 30)
  }
  
  #rightBox {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #leftBox {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #middleBox {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }